<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://res.cloudinary.com/djnfnwxgu/image/upload/c_scale,q_auto:best,r_0,w_200/a_30/v1598000400/neon_ssh5kd.gif" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</div>
<div class="flex-container">
  <div class="flex-item">
  <h2>Here are your saved cocktails:</h2>
    <ul>
      <% @cocktails.each do |cocktail| %>
        <div class="flex-item">
          <%= link_to cocktail.name, cocktail_path(cocktail)%>
        </div>
      <% end %>
    </ul>
  </div>
  <div class="flex-item">
  <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-md" %>
  </div>
</div>
