<div class="container" style="font-size: 28px;">
  <h2>Here are your saved cocktails:</h2>
    <ul>
    <% @cocktails.each do |cocktail| %>
    <li style="display: inline; text-decoration: none; padding: 10px;"><%= link_to cocktail.name, cocktail_path(cocktail)%></li>
    <% end %>
  </ul>
  <%= link_to "Add new cocktail", new_cocktail_path %>
</div>
