
<div class="navbar-lewagon" style="background-color: black;">
  <div class="container" style="display: flex; justify-content: center;">
    <%= cl_image_tag("neon_ssh5kd.gif", :transformation=>[
      {:quality=>100, :height=>140, :crop=>"scale"},
      {:angle=>18}
    ]) %>
  </div>
</div>
<div class="flex-container" style="max-width: 400px; padding-top: 20px; ">
  <p><strong><%= @cocktail.name %></strong></p>
  <p><%= link_to "Add Another", new_cocktail_path %></p>
  <p><%= link_to "Cocktail List", cocktails_path %></p>
</div>

